{% extends 'base.html' %}
{% block title%}
employees
{% endblock %}
{% block content%}
<h1 class="text-center">Our employees</h1>
<hr>

            

<div class="container text-center bg-light">

                {%for e in emps%}



                
    <div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block">
        <img src="{{e.proimage.url}}"  class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dr.{{e.ename}}</h5>
            <h5 class="card-title"> {{e.deptname}}</h5>
            <h5 class="card-title"> {{e.empno}}</h5>
            <h5 class="card-title"> Age:{{e.age}}</h5>

            <p class="card-text">{{e.prodescription}}</p>
            <a href="{%url 'emp-delete' e.id%}" class="btn btn-primary">delete</a>
            <a href="{%url 'emp-change' e.id%}" class="btn btn-primary">edit</a>
        </div>
    </div>
    
    {% endfor %}
  </div>
  {% endblock %}