{% extends 'base.html' %}
{% block title%}
department heads
{% endblock %}
{% block content%}
<h1 class="text-center">department heads</h1>
<hr>

            

<div class="container text-center bg-light">

                {%for h in heads%}



                
    <div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block">
        <img src="{{h.proimage.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dr.{{h.name}}</h5>
            <h5 class="card-title"> {{h.deptname}}</h5>
            <h5 class="card-title"> {{h.empno}}</h5>
            <h5 class="card-title"> Age:{{h.age}}</h5>

            <p class="card-text">{{e.prodescription}}</p>
            <a href="{%url 'head-delete' h.id%}" class="btn btn-primary">delete</a>
            <a href="{%url 'head-change' h.id%}" class="btn btn-primary">edit</a>
        </div>
    </div>
    
    {% endfor %}
  </div>
  {% endblock %}